**/__pycache__
**/.DS_Store
**/.git
**/.gitignore
.env
db.sqlite3
*.pyc
*__pycache__*
media
static
node_modules
Dockerfile
docker-compose*.yml
*.md
requirements/
tests/
**/.env
**/db.sqlite3
**/migrations
**/static
**/media
docker-compose.yml
